
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

@media (width<=400px) {
  body {
    background-color: red;
  }
}

@media (orientation: portrait) {
  body {
    background-color: aquamarine;
  }
}

@media (orientation: landscape) {
  body {
    background-color: blueviolet;
  }
}

/* ending point */
@media (max-width: 600px) {
  body {
    background-color: lightgreen;
  }
}

/* starting point */
@media (min-width: 300px) {
  body {
    background-color: brown;
  }
}

/* @media (min-width: 200px) and (max-width: 800px) {
  body {
    background-color: chocolate;
  }
} */

@media print and (max-width: 500px) {
  body {
    background-color: cornflowerblue;
  }

  h1 {
    font-size: 100px;
  }
}

@media screen and (max-width: 500px) {
  body {
    background-color: lightblue;
  }

  h1 {
    font-size: 100px;
  }
}

@media (200px<width<800px) {
  body {
    background-color: crimson;
  }
}

.container {
  border: 2px solid black;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.content {
  height: 100px;
  width: 100px;
  border: 2px solid black;
}

#box-1 {
  background-color: violet;
}

#box-2 {
  background-color: purple;
}

#box-3 {
  background-color: pink;
}

#box-4 {
  background-color: burlywood;
}

#box-5 {
  background-color: rgb(62, 172, 50);
}
/* 
@media print and (max-width: 768px) {
  body {
    background-color: black;
  }
  .container {
    flex-direction: column;
    flex-wrap: wrap;
  }
} */

/* 
@media screen and (max-width: 768px) {
  body {
    background-color: black;
  }
  .container {
    flex-direction: column;
    flex-wrap: wrap;
  }
} */

@media (min-width: 200px) {
  .content {
    /* border-radius: 50%; */
  }
}

@media (max-width: 768px) {
  body {
    background-color: rgb(170, 65, 65);
  }
  .container {
    flex-direction: column;
    flex-wrap: wrap;
  }
}