* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  /* height: 600px;
  width: 900px; */
  border: 2px solid black;
  margin: auto;
  margin-top: 30px;
  /* flex-direction: column; */
  /* gap: 20px; */
  justify-content: center;
  /* align-items: center; */
  flex-wrap: wrap;
  /* flex-flow: row wrap; */
}

.box {
  width: 100px;
  height: 100px;
  border: 2px solid rgb(98, 43, 119);
}

#box-1 {
  order: 1;
}

#box-3 {
  order: 2;
}

#box-4 {
  flex-grow: 2;
  flex-shrink: 3;
}

#box-5 {
  flex-basis: 300px;
}

#box-7 {
  align-content: end;
}

#box-2 {
  align-self: flex-end;
}